/*General formatting*/

div {
    border: 1px solid red;
}

/*Header Section*/

header {
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
 }

#title {
    padding-left: 10px;
    text-align: center;
    color: MediumAquamarine;
}

#logo {
    display: inline-flex;
    padding-left: 20px;
    width: 70%;
    align-items: center;
}

nav {
    display: inline-flex;
    width: 30%;
    justify-content: space-around;
}

nav span {
    display: inline-block;
    align-self: center;
    text-align: center;
    }
    
nav span a {
    color: black;
}

/*Content Section*/

.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.column_large {
    width: 630px;
    display: inline-flex;
    flex-direction: column;
}

.column_medium {
    display: inline-flex;
    width: 300px;
    flex-direction: column;
}

.column_small {
    display: inline-flex;
    width: 240px;
    flex-direction: column;
    margin-right: 30px;
}

.headline {
    height: 300px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    display: flex;
    background-image: url("../../resources/images/img-story-main.png");
}

.headline > span {
    align-self: center;
}