header {
  display: flex;
  border: 1px solid red;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
 }

div > span {
    padding-left: 10px;
    text-align: center;
    color: MediumAquamarine;
}

#logo {
    display: inline-flex;
    padding-left: 10px;
    width: 70%;
    border: 1px solid blue;
    align-items: center;
}

nav {
    display: inline-flex;
    width: 30%;
    justify-content: space-around;
}

nav span {
    display: inline-block;
    border: 1px dotted green;
    align-self: center;
    text-align: center;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.column_large {
    width: 630px;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid blue;
}

.column_medium {
    display: inline-flex;
    width: 300px;
    flex-direction: column;
    border: 1px solid red;
}

.column_small {
    display: inline-flex;
    width: 240px;
    flex-direction: column;
    border: 1px solid orange;
    margin-right: 30px;
}

.headline {
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    display: flex;
    background-image: url("../../resources/images/img-story-main.png");
}
